<md-content>
    <div flex>{{showDetails.show.name}}</div>
    <div flex><img ng-src="{{showDetails.show.image.medium}}" /></div>
    <div flex ng-bind-html="showDetails.show.summary"></div>
</md-content>