<md-toolbar layout="row"
            layout-align="start center"
            layout-padding
            class="md-toolbar-tools"
>
    <h1 flex>
        goApp: {{ vm.envVersion }}
    </h1>
</md-toolbar>


<md-nav-bar md-selected-nav-item="currentNavItem" layout="row" aria-label="Main navigation">

    <md-nav-item  ng-repeat="el in vm.getList" md-nav-href="#{{el}}" name="{{el}}">{{el}}</md-nav-item>

    <!--<md-nav-item md-nav-href="#home" name="home">Home</md-nav-item>
    <md-nav-item md-nav-href="#colors" name="colors">Colors</md-nav-item>
    <md-nav-item md-nav-href="#controllers" name="colors">Controllers</md-nav-item>-->

</md-nav-bar>