<div class="container" ng-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="color-tool">
                <h1 class="color-tool-title text-center">{{colors.title}}</h1>
                <p class="color-tool-desc">{{colors.desc()}}</p>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <form action="" method="POST" role="form">
                           <!-- <legend>Form Title</legend>-->
                            <div class="form-group">
                                <label for="colorName">Add color</label>
                                <input type="text" class="form-control" name="colorName" id="colorName" placeholder="Add color name" ng-model="colorName">

                                <!-- BEGIN DANGER ALERT -->
                                <div class="alert alert-danger" ng-if="colors.errorMsg">
                                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                                    <strong>Title!</strong> This color doesnt exist! Try again!
                                </div>
                                <!-- END DANGER ALERT -->

                                <!-- BEGIN SUCESS ALERT -->
                                <div class="alert alert-success" ng-if="colors.successMsg">
                                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                                    <strong>Yes!</strong> New color has been added.
                                </div>
                                <!-- END SUCCESS ALERT -->

                            </div>
                            <button type="button" class="btn btn-primary" ng-click="colors.addColor(colorName)">Add color</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <span class="pull-right">NR. OF COLORS: <strong>{{ colors.colors.length }}</strong></span>
                    </div>
                </div>

                <ul class="list-group list color-tool-list">
                    <li class="{{i}}" ng-repeat="i in colors.colors track by $index">{{i}}  <button type="button" class="btn btn-danger color-tool-add" ng-click="colors.deleteColor($index)">x</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if ((/colors/).test(location.hash)) {
        var bs = '<link href=\"//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css\" rel=\"stylesheet\" media=\"screen\">';
        $('head').append(bs);
    }
</script>
