@import '~angular-material/angular-material.css';
//@import './home/home';

//vars
$color-red: red;

body {
  //background: #CCC;
  //padding: 15px;
}
.color-tool {
  background: #FFF;
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 3px;
}
.color-tool-title {
  font-weight: bold;
}
.color-tool-desc {
  text-align: center;
}
.color-tool-list {
  margin: 10px 0 0 0;
  text-align: center;
  list-style: none;
  li {
    text-align: right;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
  }
}

.red {
  background: red;
  color: white;
}

.blue {
  background: blue;
  color: white;
}

.pink {
  background: pink;
  color: white;
}

.green {
  background: green;
  color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

[ng-cloak].loader {
  display: block !important;
}


