<!DOCTYPE html>
<html lang="en" ng-app="goApp">
    <head>
        <title>{{headCtrl.title}}</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">

            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

            .logo-angular {
                width: 100px;
                display: block;
                margin: 20px auto;
            }

            .tech-list {
                text-align: center;
            }
            .tech-list li {
                font-size: 2em;
                font-weight: bold;
                border: 2px solid #000;
                border-radius: 3px;
                padding: 5px;
                min-width: 30%;
            }
            .tech-list-html {
                color: white;
                background: pink;
            }
            .tech-list-css {
                color: white;
                background: yellow;
            }
            .tech-list-js {
                color: white;
                background: blue;
            }
            .tech-list li {
                margin: 0 5px 0 0;
            }
        </style>

    </head>
    <body ng-cloak>

        <div class="container">
            <div class="row head" ng-controller="headCtrl">
                <h1 class="well text-center">{{title}}</h1>
                <img class="logo-angular" ng-src="img/{{logo}}" alt="{{logo}}">
                <ul class="list-inline tech-list">
                    <!--<li class="list-group-item">Item 1</li>-->
                    <li ng-repeat="tech in technology" class="tech-list-{{tech | lowercase}}">
                        {{tech}}
                    </li>
                </ul>

                <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="showMagic('show')">Show me the magic</button>
                </div>

                <div class="row" ng-controller="headSubCtrl">
                    <div class="col-xs-12 col-sm-6 text-center">
                        {{$parent.subTitle}}
                        <div class="alert alert-success" ng-if="isMagic">
                            MAGIC IS HERE
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center">
                        {{$parent.subTitle}}
                        <div class="alert alert-success" ng-if="isMagic">
                            MAGIC IS HERE
                        </div>
                    </div>
                </div>
            </div>

            <div class="row body" ng-controller="bodyCtrl as vm">
                <h2 class="well text-center">{{vm.title}}</h2>
            </div>

            <div class="row footer" ng-controller="footerCtrl as vm">
                <h3 class="well text-center">{{vm.title}}</h3>
            </div>
        </div>

        <!-- jQuery -->
        <!--<script src="//code.jquery.com/jquery.js"></script>-->
        <!-- Bootstrap JavaScript -->
        <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->

        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

        <script type="text/javascript">
            var app = angular.module('goApp',[]);

                app.controller('headCtrl', ['$scope','$q', function($scope, $q){

                    $scope.isMagic = false;

                    $scope.title = 'ANGULAR APP';
                    $scope.subTitle = "IS AMAZING";
                    $scope.technology = {
                        fe1: 'HTML',
                        fe2: 'CSS',
                        fe3: 'JS'
                    };
                    $scope.logo = 'angular.png';

                    $scope.showMagic = function(show) {
                        if(show) {
                            $scope.isMagic = true;
                        }
                        var deferred = $q.defer();
                        setTimeout(function(){
                            deferred.resolve();
                        },2000);

                        return deferred.promise;
                    };

                    $scope.promise = $scope.showMagic();
                    $scope.promise.then(function(){
                        $scope.isMagic = false;
                    });

                }]);

                app.controller('headSubCtrl',['$scope', function($scope){
                    $scope.$parent.subTitle = "IS REALLY AMAZING";
                }]);

                app.controller('bodyCtrl', function(){
                    this.title  = 'TESTING';
                });

                app.controller('footerCtrl', function(){
                    this.title = '2016';
                });
        </script>

    </body>
</html>