.movie {
  width: 30%;
  float: left;
  .movie-title {
    color: blue;
  }
}

.movie-card {
  width: 100%;
  height: 100px;
  //background-repeat: no-repeat;
  //background-size: 100%;
  //background-position: center top;
  img {
    width: 100%;
  }
}

/* mobile-large */
@media all and (min-width: 361px){
  .movie-card {
    width: 200px;
    height: auto;
    img {
      width: 200px;
    }
  }
}


/* mobile-small */
/*@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {
  .movie-card {
    width: 100%;
  }
}*/
