<div layout="row" layout-xs="column">

    <md-sidenav flex md-is-locked-open="true" layout-padding>
        Sidenav
    </md-sidenav>

    <md-content flex id="content" layout-align="center center" layout-padding>

        <form name="searchForm">
            <md-input-container>
                <label>Search:</label>
                <input ng-model="home.searchValue"
                       ng-change="home.onSearchChange(home.searchValue)"
                >
            </md-input-container>
        </form>

        <md-divider></md-divider>

        <!--
            xs - width < 600px
            sm - 600px <= width < 960px
            md - 960px <= width < 1280px
            lg - 1280px <= width < 1920px
            xl - width >= 1920px
         -->

        <!--<div class="movie-list" ng-repeat="item in home.itemList">
            &lt;!&ndash;{{item}}&ndash;&gt;
            <div class="movie">
                <div class="movie-title">{{item.name}}</div>
                <img ng-if="item.image.medium" class="movie-img" src="{{item.image.medium}}">
                <div ng-bind-html="item.summary" class="movie-summary"></div>
            </div>
        </div>-->

        <div flex layout="row" layout-wrap layout-align="center top">
            <!--<md-card class="movie-card" ng-repeat="item in home.itemList" ng-click="home.onItemClick(item)" ng-style="{'background-image': 'url(' + item.image.medium + ')'}">-->
            <md-card class="movie-card" ng-repeat="item in home.itemList" ng-click="home.onItemClick(item)">
                <span style="font-weight: bold;" layout-padding="5px 0">{{item.name}}</span>
                <img ng-src="{{item.image.medium}}" alt="{{item7.name}}" />
               <!-- <div ng-bind-html="item.summary" layout-padding="5px 0"></div>-->
            </md-card>
        </div>

       <!-- <md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="10"  md-row-height="100px" md-gutter="5px" md-gutter-gt-sm="5px" >
            <md-grid-tile ng-repeat="item in home.itemList" class="gray" md-rowspan="3" md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="1" layout-align="center">
                <md-grid-tile-header class="pink">
                    <h3>{{item.name}}</h3>
                </md-grid-tile-header>
                <img ng-src="{{item.image.medium}}" style="max-height: 100px;">
                <md-grid-tile-footer>
                    <h3 ng-bind-html="item.summary"></h3>
                </md-grid-tile-footer>
            </md-grid-tile>

        </md-grid-list>-->
    </md-content>
</div>
